---
title: Service Credentials
---

Service credentials, such as `password`, `username`, `url`, and other such information are used to allow a service client to bind and use a service.
User can create, list, retrieve and delete service credentials (aka. service keys) using following API.

# Create a Service Key

Issue the following request to create a service key for a particular service instance. The resulting key is a set of key, value pairs with necessary information to allow a service client to bind and use a service instance.

### Request ###

##### Route #####
`POST /v2/service_keys`

##### Body #####
<table border="1" class="nice">
<thead>
<tr>
  <th>Request field</th>
  <th>Type</th>
  <th>Description</th>
</tr>
</thead>
<tbody>
<tr>
  <td>service_instance_guid*</td>
  <td>string</td>
  <td>The GUID of the service instance that service keys are to be generated for.</td>
</tr>
<tr>
  <td>name*</td>
  <td>string</td>
  <td>The name of the service key to create.</td>
</tr>
</tbody>
</table>

##### cURL #####
<pre class="terminal">
 $ cf curl /v2/service_keys -X POST -d '{"service_instance_guid":"foo", "name":"bar"}'
</pre>

### Response ###

<table border="1" class="nice">
<thead>
<tr>
  <th>Response field</th>
  <th>Type</th>
  <th>Description</th>
</tr>
</thead>
<tbody>
<tr>
  <td>service_instance_guid*</td>
  <td>string</td>
  <td>The GUID of the service instance that service keys are to be generated for.</td>
</tr>
<tr>
  <td>name*</td>
  <td>string</td>
  <td>The name of the service key to create.</td>
</tr>
<tr>
  <td>credentials*</td>
  <td>JSON Object</td>
  <td>A set of key, value pairs with necessary information to allow a service client to bind and use a service instance.</td>
</tr>
</tbody>
</table>

<pre class="terminal">
{
    "metadata": {...}
    "entity": {
        "credentials": {...},
        "name":"mycreds1",
        "service_instance_guid":"1f9b5c55-e13b-469d-abcd-08fbc87ae937"
        ...
        "service_keys_url":"/v2/service_instances/1f9b5c55-e13b-469d-abcd-08fbc87ae937/service_keys"
    }
}
</pre>

### Error Code ###

When Cloud Controller try to create service key, some condition will be detected. If the condition is not met, Cloud Controller will give error messages with HTTP status code 201.

<pre class="terminal">
{
  "code": 90005,
  "description": "The service doesn't support binding.",
  "error_code": "CF-UnbindableService"
}

</pre>

<table border="1" class="nice">
<thead>
<tr>
  <th>Error Code</th>
  <th>Condition</th>
  <th>Description</th>
</tr>
</thead>
<tbody>
<tr>
  <td>ServiceKeyTaken</td>
  <td>The name of service key is taken.</td>
  <td>Service keys associated with same service instance should be unique by name.</td>
</tr>
<tr>
  <td>ServiceInstanceNotFound</td>
  <td>The given service instance doesn't exist</td>
  <td></td>
</tr>
<tr>
  <td>UnbindableService*</td>
  <td>The given service instance is unbindable.</td>
  <td></td>
</tr>
</tbody>
</table>

# List all Service Keys for a Service Instance

Issue the following request to list services keys, two parameters could be add to filter service keys by a particular service instance and the name of service key.

### Request ###

##### Route #####
`GET /v2/service_keys?q=service_instance_guid:guid&q=name:name`
or
`GET /v2/service_instances/:guid/service_keys?q=name:name`

##### Parameter #####

<table border="1" class="nice">
<thead>
<tr>
  <th>Request field</th>
  <th>Type</th>
  <th>Description</th>
</tr>
</thead>
<tbody>
<tr>
  <td>service_instance_guid</td>
  <td>string</td>
  <td>The GUID of the service instance used to filter service keys</td>
</tr>
<tr>
  <td>name</td>
  <td>string</td>
  <td>The name of the service key to filter service keys.</td>
</tr>
</tbody>
</table>

##### cURL #####
<pre class="terminal">
 $ cf curl /v2/service_keys?q=service_instance_guid:foo&q=name:bar -X GET
</pre>

### Response ###

<table border="1" class="nice">
<thead>
<tr>
  <th>Response field</th>
  <th>Type</th>
  <th>Description</th>
</tr>
</thead>
<tbody>
<tr>
  <td>service_instance_guid*</td>
  <td>string</td>
  <td>The GUID of the service instace that service keys are to be generated for.</td>
</tr>
<tr>
  <td>name*</td>
  <td>string</td>
  <td>The name of the service key to create.</td>
</tr>
<tr>
  <td>credentials*</td>
  <td>JSON Object</td>
  <td>A set of key, value pairs with necessary information to allow a service client to bind and use a service instance.</td>
</tr>
</tbody>
</table>

<pre class="terminal">
[
    {
        "metadata": {...}
        "entity": {
            "credentials": {...},
            "name":"mycreds1",
            "service_instance_guid":"1f9b5c55-e13b-469d-abcd-08fbc87ae937"
            ...
            "service_keys_url":"/v2/service_instances/1f9b5c55-e13b-469d-abcd-08fbc87ae937/service_keys"
        }
    }
    ...
]
</pre>

# Retrieve a Particular Service Key

Issue the following request to retrieve a particular services key using its GUID.

### Request ###

##### Route #####
`GET /v2/service_keys/:guid`

##### Parameter #####

<table border="1" class="nice">
<thead>
<tr>
  <th>Request field</th>
  <th>Type</th>
  <th>Description</th>
</tr>
</thead>
<tbody>
<tr>
  <td>guid*</td>
  <td>string</td>
  <td>The GUID of the particular service key</td>
</tr>
</tbody>
</table>

##### cURL #####
<pre class="terminal">
 $ cf curl /v2/service_keys/:foo -X GET
</pre>

### Response ###

<table border="1" class="nice">
<thead>
<tr>
  <th>Response field</th>
  <th>Type</th>
  <th>Description</th>
</tr>
</thead>
<tbody>
<tr>
  <td>service_instance_guid*</td>
  <td>string</td>
  <td>The GUID of the service instace that service keys are to be generated for.</td>
</tr>
<tr>
  <td>name*</td>
  <td>string</td>
  <td>The name of the service key to create.</td>
</tr>
<tr>
  <td>credentials*</td>
  <td>JSON Object</td>
  <td>A set of key, value pairs with necessary information to allow a service client to bind and use a service instance.</td>
</tr>
</tbody>
</table>

<pre class="terminal">
{
    "metadata": {...}
    "entity": {
        "credentials": {...},
        "name":"mycreds1",
        "service_instance_guid":"1f9b5c55-e13b-469d-abcd-08fbc87ae937"
        ...
        "service_keys_url":"/v2/service_instances/1f9b5c55-e13b-469d-abcd-08fbc87ae937/service_keys"
    }
}
</pre>

# Delete a Particular Service Key

Issue the following request to delete a particular services key using its GUID.

### Request ###

##### Route #####
`DELETE /v2/service_keys/:guid`

##### Parameter #####

<table border="1" class="nice">
<thead>
<tr>
  <th>Request field</th>
  <th>Type</th>
  <th>Description</th>
</tr>
</thead>
<tbody>
<tr>
  <td>guid*</td>
  <td>string</td>
  <td>The GUID of the particular service key</td>
</tr>
</tbody>
</table>

##### cURL #####
<pre class="terminal">
 $ cf curl /v2/service_keys/:foo -X DELETE
</pre>

### Response ###
<table class="nice">
<thead>
<tr>
  <th>Status Code</th>
  <th>Description</th>
</tr>
</thead>
<tbody>
<tr>
  <td>204 NO CONTENT</td>
  <td>Service key was deleted. The expected response body is "{}"</td>
</tr>
</tbody>
</table>

Responses with any other status code will be interpreted as a failure and the service key will remain in the Cloud Controller database.




